.container {
    margin-top: 20px;
}

.breadcrumbs-icon {
    margin: 20px 0px;
    color: rgba(0,0,0,.5);
}

.breadcrumbs-icon .icon {
    font-size: 17px;
    font-weight: bold;
}

.breadcrumbs-icon .icon {
    margin-left: 45px;
}

.breadcrumbs-icon .active {
    color: green;
}

.active-line {
    border-bottom: 3px solid green;
    width: 14%;
    margin: -4px 0px 0px 0px;
}

.black-line {
    border-bottom: 1px solid rgba(0,0,0,.5);
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.card {
    height: 450px;
    border-radius: 10px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 123, 0);
}

.product-star {
    display: flex;
    color: rgb(251, 255, 0);
}